<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CRISPINTERNS.TV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" type="text/css" href="styles/main.css">     <!-- <script src="/_assets/vendor/modernizr-2.8.3.min.js"></script> -->
  </head>
    
  <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->     
    <header>
      <div id="wrapperHeader">
        <div id="header">
          <img src="images/crispinterns_2-04.png" alt="logo" />
        </div> 
      </div>
    </header> <!--end header-->

    <main class="main">
        <!--Mobile section-->
      <div class="container__videos-mobile">

      <div class="youtube" data-embed="QFCSXr6qnv4">
          <div class="play-button"></div>  
      </div>
      
      <div class="youtube" data-embed="sZabPqQ-hM0"> 
          <div class="play-button"></div> 
      </div>

      <div class="youtube" data-embed="65KauyA8Uc4"> 
          <div class="play-button"></div> 
      </div>

      <div class="youtube" data-embed="zZOwCDBABLk"> 
          <div class="play-button"></div> 
      </div>

      <div class="youtube" data-embed="en3NklM-0os"> 
          <div class="play-button"></div> 
      </div>
    </div>
       

          <!-- large size tv section -->
    <div class="container__videos-large">
        <div class="wrapper__videos-large">
          <div class="video-gallery-large">
            <iframe name="videoFrame-large" id="videoFrame-large" frameborder="0" src="images/GES_V03.mp4"></iframe>
            <div id="left-tv-large"></div>
            <div id="top-tv-large"></div>
            <div id="right-tv-large">
              <a href="https://www.youtube.com/embed/QFCSXr6qnv4?rel=0&amp;autoplay=1&amp;showinfo=0&amp;iv_load_policy=3&amp;controls=0" target="videoFrame-large">
                <div id="vidbutton1-large"></div>
              </a>
              <a href="https://www.youtube.com/embed/sZabPqQ-hM0?rel=0&amp;autoplay=1&amp;showinfo=0&amp;iv_load_policy=3&amp;controls=0" target="videoFrame-large">
                <div id="vidbutton2-large"></div>
              </a>
              <a href="https://www.youtube.com/embed/65KauyA8Uc4?rel=0&amp;autoplay=1&amp;showinfo=0&amp;iv_load_policy=3&amp;controls=0" target="videoFrame-large">
                <div id="vidbutton3-large"></div>
              </a>
              <a href="https://www.youtube.com/embed/zZOwCDBABLk?rel=0&amp;autoplay=1&amp;showinfo=0&amp;iv_load_policy=3&amp;controls=0" target="videoFrame-large">
                <div id="vidbutton4-large"></div>
              </a>
              <a href="https://www.youtube.com/embed/en3NklM-0os?rel=0&amp;autoplay=1&amp;showinfo=0&amp;iv_load_policy=3&amp;controls=0" target="videoFrame-large">
                <div id="vidbutton5-large"></div>
              </a>
            </div>
            <div id="bottom-tv-large"></div>
          </div>
        </div> 
    </div>
   </main>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/youtubeSmall.js"></script>
        <!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script> -->
        <!-- <script src="/_assets/plugins.js"></script>
        <script src="/_assets/js/main.js"></script> -->
        
  </body>
</html>
